body {margin:0; padding:0; background-image:url('../images/background.png'); background-repeat:no-repeat; background-size:cover;}
.container{
	width: 960px; margin:auto;
}


.player1, .player2 {height:479px; width:229px; background-repeat:no-repeat;}
.player1 {background-image:url('../images/player1.png'); float:left;}
.player2 {background-image:url('../images/player2.png'); float:right;}

.player1_hearts, .player2_hearts {overflow: auto; padding-top:20px;}
.player1_hearts{float:left;}
.player1_hearts{float:right;}

.player1_hearts > div, .player2_hearts > div {float:left;}



.heart {
    position: relative;
   	width: 55px;
	height: 90px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
   	left: 21px;
	top: 0;
	width: 21px;
	height: 34px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
