*{}
body,html{}

#leftJack{
    background-image: url('images/sprites/idle/redLeftIdle.png');
    width:229px;
    height:479px;
}
#rightJack{
    background-image: url('images/sprites/idle/redLeftIdle.png');
    width:229px;
    height:479px;
}